<div class="text-center mb-5">
    <h4>Ocjenjivanje vozila (1-10)</h4>
</div>
<div>
    <div class="div2 mb-5 form-group">

        <form (ngSubmit)="ocijeni()" [formGroup]="dodajOcjenuForm">

            <p class="ml-5 mt-5 mb-5 text-center">
                <mat-form-field appearance="outline" class="mr-5">
                    <mat-label>Ocjena</mat-label>
                    <input matInput placeholder="Ocjena" class="form-control" formControlName="ocjena">
                </mat-form-field>
            </p>

            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary mr-5">Ocijeni vozilo</button>
                <button type="button" class="btn btn-secondary" (click)="goBack()">Odustani</button>
            </div>
        </form>
    </div>
</div>