<form class="mb-5">

    <div class="text-center">
        <h3>Unesite vaše podatke</h3>
    </div>
    
    <div class="ml-5 mt-5 mb-1 text-center">
        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Korisničko ime</mat-label>
            <input name="usernma" matInput placeholder="Username" [(ngModel)]="username" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Email</mat-label>
            <input name="email" matInput placeholder="Email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Ime</mat-label>
            <input name="name" matInput placeholder="Ime" [(ngModel)]="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Prezime</mat-label>
            <input name="surname" matInput placeholder="Prezime" [(ngModel)]="surname" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Grad</mat-label>
            <input name="city" matInput placeholder="Grad" [(ngModel)]="city"
                required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Ulica</mat-label>
            <input name="street" matInput placeholder="Ulica" [(ngModel)]="street" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Broj</mat-label>
            <input name="number" matInput placeholder="Broj" [(ngModel)]="number" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mr-5">
            <mat-label>Datum rodjenja</mat-label>
            <input name="dateOfBirth" matInput placeholder="Datum rodjenja" [(ngModel)]="dateOfBirth" required>
        </mat-form-field>

    </div>

    <div class="text-center mt-5">
        <button type="button" class="btn btn-primary mr-5" (click)="rezervisi()">Rezerviši vozilo</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Odustani</button>
    </div>
</form>