<form #filterForm="ngForm" (ngSubmit)="onApplyFilter()" class="styless">
  <div class="text-center mt-5 mr-5">
    <mat-form-field class="mr-5" appearence="outline">
      <mat-label>Izaberite datum polaska</mat-label>
      <input class="form-control" name="from" matInput [matDatepicker]="picker1" [(ngModel)]="from">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="ml-5" appearence="outline">
      <mat-label>Izaberite datum povratka</mat-label>
      <input name="to" matInput [matDatepicker]="picker2" [(ngModel)]="to">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class=" form-row" style="margin-left: 550px; width: 200px;">
    <div class="form-group col">
      <input type="text" name="search" class="form-control" placeholder="Search by destination" [(ngModel)]="search">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <input style="margin-left: 590px;width: 130px;" type="submit" class="form-control btn btn-primary" value="Apply filter" />
    </div>
  </div>
</form>

  <div class="ml-5 mb-5">
    <div class="ml-5">
      <div class="ml-5">
        <div class="row ml-5">
          <div class="col-lg-10 styless offset-lg-1 col-md-12 card"
          *ngFor="let flight of displayedFlights"
            [class.bg-secondary]="flight.selected">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="" src="../../../assets/images/ticket.png" width="33%">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h5 class="card-title">
                        <span>
                            <mat-icon>place</mat-icon> {{flight.destinacija}}
                        </span>
                        <span>
                            <mat-icon>flight_takeoff</mat-icon> {{flight.datumVrijemePolaska}}
                        </span>
                        <br>
                        <span>
                            <mat-icon>flight_land</mat-icon> {{flight.datumVrijemeDolaska}}
                        </span>
                    </h5>
                  <p class="card-text">
                    <span>
                        <mat-icon>schedule</mat-icon> {{flight.vrijemePutovanja}}
                    </span>
                    <span>
                        <mat-icon> straighten</mat-icon> {{flight.duzinaPutovanja}}
                    </span>
                    <span>
                        <mat-icon> flight</mat-icon> {{flight.brojPresjedanja}}
                    </span>
                    <span>
                        <mat-icon> place</mat-icon> {{flight.lokacijePresjedanja}}
                    </span>
                    <span>
                        <mat-icon>euro_symbol</mat-icon> {{flight.cijenaKarte}}
                    </span>
                    <br>
                    <br>
                  </p>
                </div>
                <div class="col-md-2 col-sm-12">
                  <h3 class="d-flex justify-content-center text-green">{{flight.cijenaKarte}}<mat-icon>euro_symbol</mat-icon></h3>
  
                  <button href="#" class="btn btn-success btn-block" (click)="openModal(flight.letId)">
                    <i class="fa fa-key"></i>
                    Rezerviši</button>  
                </div>
              </div>
            </div>
          </div>
          <div class="text-right ml-5">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>