<form #dateForm="ngForm" class="styless">
    <div class="text-center mt-5 mr-5">
      <mat-form-field class="mr-5" appearence="outline">
        <mat-label>Izaberite datum polaska</mat-label>
        <input name="start" matInput [matDatepicker]="picker1" [(NgModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker1></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="ml-5" appearence="outline">
        <mat-label>Izaberite datum povratka</mat-label>
        <input name="end" matInput [matDatepicker]="picker2" [(NgModel)]="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker2></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  
  <mat-form-field appearance="outline" class="margina">
    <mat-label>Zeljena destinacija</mat-label>
    <input matInput placeholder="Model">
  </mat-form-field>
  
  <div class="text-center styless">
    <button class="btn btn-primary" (click)="prikazi(dateForm)">Prikaži</button>
  </div>
  
  <div class="ml-5 mb-5">
    <div class="ml-5">
      <div class="ml-5">
        <div class="row ml-5 mb-5">
        </div>
        <div class="row ml-5">
          <div class="col-lg-10 styless offset-lg-1 col-md-12 card"
            *ngFor="let item of dataSource | paginate: { itemsPerPage: count, currentPage: p }"
            [class.bg-secondary]="item.selected">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                    <img class="" src="../../../assets/images/ticket.png" width="33%">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h5 class="card-title">
                        <span>
                            <mat-icon>place</mat-icon> {{item.destinacija}}
                        </span>
                        <span>
                            <mat-icon>flight_takeoff</mat-icon> {{item.datumVrijemePolaska}}
                        </span>
                        <br>
                        <span>
                            <mat-icon>flight_land</mat-icon> {{item.datumVrijemeDolaska}}
                        </span>
                    </h5>
                  <p class="card-text">
                    <span>
                        <mat-icon>schedule</mat-icon> {{item.vrijemePutovanja}}
                    </span>
                    <span>
                        <mat-icon> straighten</mat-icon> {{item.duzinaPutovanja}}
                    </span>
                    <span>
                        <mat-icon> flight</mat-icon> {{item.brojPresjedanja}}
                    </span>
                    <span>
                        <mat-icon> place</mat-icon> {{item.lokacijePresjedanja}}
                    </span>
                    <span>
                        <mat-icon>euro_symbol</mat-icon> {{item.cijenaKarte}}
                    </span>
                    <br>
                    <br>
                  </p>
                </div>
                <div class="col-md-2 col-sm-12">
                  <h3 class="d-flex justify-content-center text-green">{{item.cijenaKarte}}<mat-icon>euro_symbol</mat-icon></h3>
  
                  <button href="#" class="btn btn-success btn-block" (click)="openModal(item.letId)">
                    <i class="fa fa-key"></i>
                    Rezerviši</button>  
                </div>
              </div>
            </div>
          </div>
          <div class="text-right ml-5">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>