.div2 {
  width: 900px;
  height: 600px;
  padding: 50px;
  color: orange;
  border: 1px solid;
  border-width: 1px;
  border-radius: 7px;
  border-style: dashed;
  margin-left: 250px;
}

.margina {
  margin-left: 200px;
}