<div class="text-center mb-3">
    <div style="text-align:center">
      <div *ngIf="dataSource == '' || !dataSource">
        <button class="btn btn-primary mt-5"
          [routerLink]="['/addAviocompany']">
          Dodaj aviokompaniju</button>
  
        <h4 class="mt-5">Ovaj admin nema svoju avio kompaniju</h4>
      </div>
  
      <div *ngIf="dataSource != ''">
        <img src="../../../../assets/images/air.jpg" style="width: 700px; height: 150px;">
      </div>
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource != ''">
  
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Naziv avio kompanije </th>
          <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
        </ng-container>
  
        <ng-container matColumnDef="adresa">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Adresa avio kompanije </th>
          <td mat-cell *matCellDef="let element"> {{element.adresa}} </td>
        </ng-container>
  
        <ng-container matColumnDef="opis">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Opis </th>
          <td mat-cell *matCellDef="let element"> {{element.opis}} </td>
        </ng-container>
  
        <ng-container matColumnDef="ocjena">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Ocjena </th>
          <td mat-cell *matCellDef="let element"> {{element.ocjena}} </td>
        </ng-container>
  
        <ng-container matColumnDef="destinacije">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Destinacije </th>
          <td mat-cell *matCellDef="let element"> {{element.destinacije}} </td>
        </ng-container>
  
        <ng-container matColumnDef="letovi">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Detalji </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/aviocompany/flightDetails/', element.aviokompanijaId]">
            <mat-icon>commute</mat-icon>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="izmijeni">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Izmijeni </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/editAviocompany/', element.aviokompanijaId]">
            <mat-icon>edit</mat-icon>
          </td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="dodaj">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Dodaj </th>
          <td mat-cell *matCellDef="let element" [routerLink]="['/addRentacarService']">
            <mat-icon>add</mat-icon>
          </td>
        </ng-container> -->
  
        <ng-container matColumnDef="obrisi">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Obrisi </th>
          <td mat-cell *matCellDef="let element" (click)="openModal()">
            <mat-icon>delete</mat-icon>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>
  
      </table>
    </div>
  </div>