<div class="container moiClassRegisterBg">
  <form (ngSubmit)="register()" [formGroup]="registerForm"> <!--  -->
    <!-- <h2 class="text-center text-primary font-weight-bolder">Sign Up</h2>
    <hr> -->
    <div class="row">
    <div class="col">
        <div class="form-group">
            <input  class="form-control"
              placeholder="Name" formControlName="name" [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}">
            <div class="invalid-feedback" *ngIf="registerForm.get('name').touched && registerForm.get('name').hasError('required')">Name is required</div> 
          </div>
        
          <div class="form-group">
            <input  class="form-control"
              placeholder="Surname" formControlName="surname" [ngClass]="{'is-invalid': registerForm.get('surname').errors && registerForm.get('surname').touched}">
            <div class="invalid-feedback" *ngIf="registerForm.get('surname').touched && registerForm.get('surname').hasError('required')">Surname is required</div> 
          </div>

          <div class="form-group">
              <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
                placeholder="Date of Birth" formControlName="dateOfBirth" type="text" bsDatepicker [bsConfig]="bsConfig">
              <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="form-group">
              <input  class="form-control"
                placeholder="City" formControlName="city" [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" > 
              <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</div> 
            </div>
      </div>
      <div class="col">
          <div class="form-group">
              <input  class="form-control"
                placeholder="Street" formControlName="street" [ngClass]="{'is-invalid': registerForm.get('street').errors && registerForm.get('street').touched}">
              <div class="invalid-feedback" *ngIf="registerForm.get('street').touched && registerForm.get('street').hasError('required')">Street is required</div> 
            </div>
      </div>
      <div class="col">
          <div class="form-group">
              <input  class="form-control"
                placeholder="House Number" formControlName="number" [ngClass]="{'is-invalid': registerForm.get('number').errors && registerForm.get('number').touched}"> 
              <div class="invalid-feedback" *ngIf="registerForm.get('number').touched && registerForm.get('number').hasError('required')">House Number is required</div> 
            </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text"
          formControlName="userName" [ngClass]="{'is-invalid': registerForm.get('userName').errors && registerForm.get('userName').touched}"
          class="form-control"  placeholder="Username"> 
          <div class="invalid-feedback">Please choose a username</div>
        </div>

        <div class="form-group">
            <input  class="form-control"
              placeholder="Email" formControlName="email" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"> 
            <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">Email is required</div> 
          </div>

          <div class="form-group">
              <input type="password"
              formControlName="password" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
              class="form-control"  placeholder="Password"> 
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') 
              && registerForm.get('password').touched">Password is required</div> 
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') 
              && registerForm.get('password').touched">Password must be at last 4 characters</div> 
              <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') 
              && registerForm.get('password').touched">Password cannot exceed 8 characters</div> 
            </div>
          
            <div class="form-group">
              <input type="password"
              
              class="form-control"  placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched ||
              registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}"> 
              <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
              && registerForm.get('confirmPassword').touched">Password is required</div> 
              <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') 
              && registerForm.get('confirmPassword').touched">Passwords must match</div> 
            </div>
    
    
          
          </div>
  </div>
  <br>
    <div class="row">
      <div class="col">
          <div class="form-group text-center">
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Register</button>
            </div>
      </div>
      <div class="col">
          <button class="btn btn-lg btn-primary btn-block btn-signin" style="background-color: gray" (click)="modalRef.hide()">Cancel</button>
      </div>
        
    </div>
    
    
    
  </form>
  </div>