html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
}

mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
}

#modal-action-button {
    margin-right: 30px;
    color: white;
}

#modal-cancel-button {
    color: white;
}

.margina{
    margin-top: 150px;
}