.moiClassOrangeDiv {
    background-color: rgba(255,165,0,1);
    /* height: 50vh; */
    height: auto;
}

.moiClassWhiteDiv {
    background-color: white;
    /*height: 50vh;*/
    height: auto;
    /* border-bottom: 5px solid orange; */
    /* margin-top: 2%; */
    /* width: 80vw; */
}

.margina {
 margin-top: 50px;
 margin-left: 450px;
}

.moiClassCapture {
    position: absolute;
    top: 5%;
    /* bottom: 5%; */
}

.moiClassCaptureLogin {
  width: 100vw;
}

.moiClassButtonColor {
    color: orange;
    padding: 2%;
    font-size: 4em;
}

.moiClassHomeImg {
    width: 100vw;
    height: 50vh;
    opacity: 0.3;
    /*border: inset orange 10px;*/
}

.moiClassButton {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 1em;
    border: solid white;
    margin-top: 2%;
    margin-left: 1%;
}

.moiClassButton:hover {
    background-color: white;
    color: orange;
}

a.moiClassButton:hover {
    background-color: white;
    color: orange;
}

.moiClassButtonLogout {
  /* float: right; */
  border: transparent;
  text-decoration: underline white;
  position: absolute;
  bottom: 0%;
  right: 2%;
}

.moiClassButtonMenu {
    padding: 2%;
    height: 60px;
    width: 60px;
}

.moiClassIconMenu {
    margin-right: 5%;
   /* margin-top: 2%; */
    padding-top: 2%;
    /* padding-right: 5%; */
    font-size: 20px;
    font-weight: bolder;
    /* height: 80px;
    width: 80px; */
}

.moiClassIconMenu:hover {
    cursor: pointer;
    font-style: inherit;
    text-decoration: overline orange;
}

.moiClassHrMenu {
    border-top: 5px solid white;
}

.router-link-active {
  outline: none;
  text-decoration: overline orange;
}

.router-link-active:focus,
.router-link-active:active:focus{
    outline:none;
    text-decoration: overline orange;
}

.moiClassIconMenu:focus,
.moiClassIconMenu:active:focus{
    outline:none;
}

/* sakdoijiosahdajs */

body {
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
  }
  
  /* navbar */
  .sidebar {
    /* height: 100vh; */
    background: rgba(0, 0, 0, 0.9);  /*linear-gradient(rgba(0, 0, 0, 0.7), url(../../assets/img1.jpeg) */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* box-shadow: 5px 7px 25px #999; */
      position: fixed;
      overflow-y: scroll;
      top: 0;
      bottom: 0;
  }
  
  .bottom-border {
    border-bottom: 1px groove #eee;
  }
  
  .sidebar-link {
    transition: all 0.4s;
    text-decoration: none;
  }
  
  .sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
    text-decoration: none;
  }

.sidebar-link:focus,
.sidebar-link:active:focus{
  background-color: rgb(236, 155, 3);
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all 0.3s;
  text-decoration: none;
}
  
  .current {
    background-color: orange;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all 0.3s;
  }
  
  .current:hover {
    background-color: rgb(255, 178, 36);
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
  }
  
  .search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all 0.4s;
  }
  
  .search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
  }
  
  .search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all 0.4s;
  }
  
  .search-button:hover {
    background-color: #eee;
    transform: translateY(-1px);
  }
  
  .icon-parent {
    position: relative;
  }
  
  .icon-bullet::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #f44336;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: static;
      height: auto;
    }
  
    .top-navbar {
      position: static;
    }
  }
  /* end of navbar */
  
  /* cards */
  .card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all 0.4s;
  }
  
  .card-common:hover {
    box-shadow: 2px 3px 15px #999;
    transform: translate(-1px);
  }
  /* end of cards */
  
  /* task list */
  .task-border {
    border-left: 3px solid #f66436;
  }
  /* end of task list */
  