<!-- <div class="imgbox">
    <div class="centered text-dark mt-2">
        <h2>Aplikacija za rezervaciju letova</h2>
    </div>
    
    <img class="center-fit" src="../../../assets/images/aa.jpg">
</div>
<div class="leftbutton mt-2 ml-1">
    <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/aviokompanije">
        <mat-icon>airplanemode_active</mat-icon> AVIOKOMPANIJE</button>
    <div class="mt-2">
        <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/rentacar">
            <mat-icon>directions_car</mat-icon> RENT-A CAR SERVISI</button>
    </div>
</div>

<div class="rightbutton mt-2 ml-1">
    <button type="button" class="btn btn-dark btn-lg btn-block" (click)="openModalLogin()">
        <mat-icon>account_circle</mat-icon> PRIJAVITE SE</button>
    <div class="mt-2">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click)="openModalRegister()">
            <mat-icon>account_box</mat-icon> REGISTRUJTE SE</button>
    </div>
</div> -->