<div class="imgbox">
    <div class="centered text-dark mt-2">
        <h2>Aplikacija za rezervaciju letova</h2>
    </div>
    
    <img class="center-fit" src="../../../assets/images/aa.jpg">
</div>
<div class="leftbutton mt-2 ml-1">
    <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/aviokompanije">AVIOKOMPANIJE</button>
    <div class="mt-2">
        <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/rentacar">RENT-A CAR SERVISI</button>
    </div>
</div>

<div class="rightbutton mt-2 ml-1">
    <button type="button" class="btn btn-dark btn-lg btn-block" (click)="openModalLogin()">PRIJAVITE SE</button>
    <div class="mt-2">
        <button type="button" class="btn btn-dark btn-lg btn-block" (click)="openModalRegister()">REGISTRUJTE SE</button>
    </div>
</div>